*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body
{
  background-image: url("https://www.freewalldownload.com/abstract-wallpapers/abstract-4k-wallpapers-hd.jpg");
  background-size:cover;
  background-position: center;
  
  font-family:sans-serif;
}

.wrapper{
      background-color:#fff;
      width:500px;
      padding:25px;
      margin:50px auto 0;
      border-top:5px solid #009;
      box-shadow:0 0 3px rgba(0,0,0,0.1);
}
.wrapper h2{
     font-size:24px;
     line-height:24px;
     padding-bottom:30px;
     text-align:center;
}
.input-name{
     width:90%;
     position:relative;
     margin:20px auto;
}
.lock{
     padding:8px 11px;
}
.name{
     width:45%;
     padding:8px 0 8px 40px;
}
.input-name span
{
     margin-left:35px;
}
.text-name{
   width:100%;
   padding:8px 0 8px 40px;
}
.input-name i{
   position:absolute;
   font-size:18px;
   border-right:1px solid #cccccc;
}
.email{
  padding:8px;
}
.text-name,.name{
     border:1 px solid #cccccc;
     outline:none;
     -webkit-transition:all 0.30s ease-in-out;
     -moz-transition:all 0.30s ease-in-out;
     -ms-transition:all 0.30s ease-in-out;
      transition:all 0.30s ease-in-out;
}
.text-name:hover,.name:hover{
     background-color:#fafafa;
}
.text-name:focus,.name:focus{
    -webkit-box-shadow:0 0 2 px 1 px rgba(255,169,0,0,0.5);
    -moz-box-shadow:0 0 2 px 1px rgba(255,169,0,0.5);
    box-shadow:0 0 2px 1px rgba(255,169,0,0.5);
    border:1px solid #f5ba1a;
    background: #fafafa;
}
.radio-button
{
   border:0;
   clip:rect(0 0 0 0);
   height:1px;
   margin:-1px;
   overflow:hidden;
   padding:0;
   position:absolute;
   width:1px;
}
.gender{
   margin-right:16px;
}
.gender::before{
  content:"";
  display:inline-block;
  width:8px;
  height:8px;
  margin-right:8px;
 border-radius:100%;
 vertical-align:-3px;
  border:2px solid #cccccc;
 padding:2.5px;
 background-color:transparent;
 background-clip:content-box;
 transition:all 0.2 ease;
}
.radio-button:hover + .gender::before{
 border-color:#000;
}
.radio-button:checked+.gender::before{
  background-color:#000;
  border-color:#000;
}
.button{
  background-color:#009;
  height:35px;
  line-height:35px;
  width:100%;
  border:none;
  outline:none;
  cursor:pointer;
  color:#fff;
  font-size:18px;
  margin-bottom:10px;
}
.button:hover{
   background-color:#f8c22e;
}
.button:focus{
   background-color:#f8c22e;
}
@media (max-width:480px){
  .wrapper{
   width:100%;
 } 
 .input-name{
  margin-bottom:-10px;
 }
 .name{
   width:100%;
  padding:8px 0 8px 40px;
  margin-bottom:10px;
}
.input-name span{
   padding:0;
   margin:0;
}
}
}



 

